@media only screen and (max-width: 728px){
    /*MOBILE HEADER*/
    .site-header{
        height: auto;
    }
    .site-header section{
        width: 100%;
        margin: 0;
        padding: 0;
        padding: 50px 0px 0px 0px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .site-header section .right-side{
        width: 80vw;
        height: auto;
        padding: 120px 0px 50px 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .site-header section .left-side{
        padding: 0;
        margin: 0;
        height: auto;
        width: 80vw;
    }
    .menu{
        display: none;
    }
    .mobile-menu{
        text-align: right;
        line-height: 80px;
        padding-right: 60px;
        font-size: 2.2rem;
        display: flex;
        justify-content: flex-end;
        align-items: right;
    }
    .mobile-menu:hover{
        cursor: pointer;
    }
    .mobile-menu-links{
        width: 100%;
        background-color: #28363F;
        position: absolute;
        z-index: 100;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu-links a{
        padding: 8px;
        font-size: 1.4rem;
        color: white;
    }
    .mobile-menu-links a:hover{
        color: #F58066;
        cursor: pointer;
    }

    .site-header section .left-side img{
        padding: 0px 0px 100px 0px;
        width: 100%;
    }

    /*MOBILE ABOUT*/
    .site-about{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 30px 0px;
    }
    .site-about .left-side,
    .site-about .right-side{
        width: 80vw;
        padding: 70px 0px 0px 0px;
    }

    .site-about .right-side img{
        padding: 0px 0px 50px 0px;
        width: 100%;
    }

    /* MOBILE PROJECTS */
    .site-portfolio{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 40px 0px;
    }
    .site-portfolio .right-side,
    .site-portfolio .left-side{
        width: 80vw;
    }
    .site-portfolio .left-side img{
        padding: 50px 0px 50px 0px;
        width: 100%;
    }

    /* MOBILE CONTACT */
    .site-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .site-contact .left-side, .site-contact .right-side{
        width: 80vw;
    }
    .site-contact .right-side img{
        padding: 50px 0px 100px 0px;
        width: 90%;
    }
}